<!DOCTYPE html>
<html lang="en">

<head>
  <!-- - include('includes/head', { title: 'Not found!' }) %> -->
  <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login page</title>
    <link rel="shortcut icon" href="/Ki-isel-Web/icon/favicon.ico">
    <link rel="stylesheet" href="/public/styles/main.css">

</head>

<body>
  <header>
    <nav class="navbar navbar-expand-lg site-navbar navbar-light bg-light" id="pb-navbar">
      <div class="container">
        <div class="collapse navbar-collapse justify-content-md-center" id="navbarsExample09">
          <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
            <!--  -->
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <main>
    <h1>We could not find this resource!</h1>
    <p>Unfortunately, we were not able to find this resource.</p>
    <a class="btn" href="/">Back To Safety!</a>
  </main>
</body>

</html>